.example-stepper {
  margin-top: 4.5rem;
  margin-left: 20rem;
  margin-right: 10rem;

}

.mat-mdc-form-field{
  padding: 1rem;
}

.mat-step{
  margin-left: 15rem;
  margin-right: 20rem;
}

.invisible {
  display: none;
}

.btns{
  text-align: right;
}

.input-group{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin-left: 18rem;
}

.documentos{
  padding: 1.5rem;
}

.botaoSubmit{
  text-align: right;
  margin-right: 20rem;
}

.input-group-text{
  background-color: rgb(67, 192, 67);
  color: white;
}
