
<header>
  <nav class="navbar bg-body-primary navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EMPRESA A </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <img class="prof-img" src="../assets/avatar2.png" alt="profile" />
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                href="#Financeiro"
                role="button"
                aria-expanded="false"
                aria-controls="Financeiro"
                >Finanças</a
              >
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="Financeiro">
                    <div class="card card-body">
                      <a class="nav-link" href="new_financeiro"
                        >Cadastrar Lançamento</a
                      >
                      <a class="nav-link" href="list_financeiro"
                        >Balanço Financeiro</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                href="#Estoque"
                role="button"
                aria-expanded="false"
                aria-controls="Estoque"
                >Estoque</a
              >
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="Estoque">
                    <div class="card card-body">
                      <a class="nav-link" href="cad_produtos"
                        >Cadastrar produto</a
                      >
                      <a class="nav-link" href="listar_produtos"
                        >Listar Produto</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                href="#funcionario"
                role="button"
                aria-expanded="false"
                aria-controls="funcionario"
                >Funcionarios</a
              >
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="funcionario">
                    <div class="card card-body">
                      <a class="nav-link" href="cadastro_funcionario"
                        >Cadastrar Funcionarios</a
                      >
                      <a class="nav-link" href="lista_funcionarios"
                        >Listar Funcionarios</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
  <footer
    class="rodape text-center text-white"
  >
    <!-- Grid container -->
    <div class="containerFooter">
      <!-- Section: Links -->
      <section class="mt-3">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Products</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Awards</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Help</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <!-- Section: Social -->
      <section class="social text-center mb-5">
        <a href="https://web.whatsapp.com/send?phone=5561992500206" class="text-white me-4">
          <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/in/filipe-gabriel-057318146/" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/ArkaKyozu?tab=repositories" class="text-white me-lg-5">
          <i class="bi bi-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="copy text-center p-3"
    >
      © 2024 Copyright:
      <a class="text-white" href="https://web.whatsapp.com/send?phone=5561992500206"
        >Filipe Gabriel</a
      >
    </div>
    <!-- Copyright -->
  </footer>
